<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <%- include("partials/header.ejs")%>

    
    <div id=content>
        <% for(let i = 0; i < array.length; i++){%>    
            <div id=card>
                <h3> Model: <%= array[i].model %> </h3>
                <p>Price: <%= array[i].price %> </p>
                <p>Id: <%= array[i].id %> </p>
                <p>Category: <%= array[i].categoryName %> </p>
            </div>         
        <% } %>
    </div>

    <%- include("partials/footer.ejs")%>
</body>
</html>